.container__slp {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.slp__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slp__section > * {
    margin: .5rem 0;
}

.slp__section label {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.slp__section input[type="number"]{
    width:3rem;
    font-size: 2rem;
    display:flex;
    justify-content: center;
    
    background-color: rgba(149, 243, 27);
    color: black;
}

.slp__section input[type="button"]{
    width:2rem;
    height: 2rem;
}

.container__done {
    display: flex;
    align-items: center;
}

.container__done .done-button {
    cursor: pointer;
    background-color: aquamarine;
    border: 2px solid black;
    font-weight: 600;
    min-height: 3rem;
    min-width: 7rem;
}

.container__done .faq-modal {
    cursor: pointer;
    border: transparent 1px solid;
    background:white;
    font-size: 2rem;
    min-height: 3rem;
    min-width: 3rem;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: background .2s, color .2s;
}

.container__done .faq-modal:hover {
    background:black;
    color: white;
}

/* -------------------------------------------------------------------------- */
/*                                    Modal                                   */
/* -------------------------------------------------------------------------- */

.modal {
    position: absolute;
    top: 0;
    left: 0;
    display:none;
    justify-content: center;
    align-items: center;
    
    background: rgba(0, 0, 0, 0.308);
    height: 100vh;
    width: 100%;
}

.SmoothLovePotion {
    width: auto;
    height: 30px;
}

.slp-per-trophies {
    width: auto;
    height: 25rem;
}

.modal__content .main-title{
    margin-top: 1rem;
}

.modal__content {
    position: relative;
    background-color: gainsboro;
    border-radius: 1rem;
    padding: 2rem;
    width: 60rem;
    height:35rem;
    overflow: auto;
}

.modal__content .close {
    cursor: pointer;
    font-size: 3rem;
    position:absolute;
    top: 0px;
    left: 93%;
    display:inline-block;
    color:red;
}

@media screen and (max-width: 425px){

    .container__slp {
        grid-template-columns: 1fr 1fr;
    }

    .slp__section input[type="button"] {
        width: 3rem;
        height: 3rem;
    }

    .slp__section input[type="number"] {
        width: 5rem;
        font-size: 3rem;
    }

    .body {
        height: fit-content;
    }

    .slp-per-trophies {
        width: auto;
        height: 20rem;
    }

    .container__done .done-button {
        min-width: 10rem;
    }
}