@import url('dailySLP.css');
@import url('table-slp.css');
@import url('reutilizable.css');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.container {
    background-color: rgba(0, 0, 0, .7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100%;
}

.roundCounter__label {
    font-size: 3rem;
}

.roundCounter__number {
    font-size: 3rem;
    text-decoration: underline;
}

.container__counter {
    display: flex;
    align-items: center;
}

.counter__energy {
    width: auto;
    height: 40px;
}

.counter__label {
    font-size: 2rem;
}

.buttons .label__button {
    display: none;
    font-size: 1.3rem;
    margin: 0rem .5rem;
}

.counter__number {
    font-size: 2rem;
    margin-left: 1rem;
    font-weight: 800;
    color: yellow;
}

.activate-sumAndrest{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.activate-sumAndrest input {
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
}

.container__controllers {
    display: flex;
    margin-top: 2rem;
}

.controllers__earn, .controllers__spend, .controllers__stole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}

.controllers__earn {
    color: greenyellow;
}

.controllers__spend {
    color: red;
}

.controllers__stole {
    color: violet;
}

.cont__label {
    display: flex;
}

.container__controllers input {
    margin-top: .5rem;
    border:none;
    background:white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid black;
    font-weight: 600;
    cursor: cell;
}

.container__controllers label {
    font-size: 1.5rem;
}

.container__controllers input.subtract-button {
    background-color: #ff0038;
    width: 10px;
    display: flex;
    justify-content: center;
}

.container__done {
    margin-top: 2rem;
}

.container__done input {
    border:none;
    background:rgb(3, 134, 42);
    font-weight: 600;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.container__reset input {
    margin-top: 1rem;
    background-color: crimson;
    border:none;
    font-weight: 600;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.container nav {
    margin-top: 2rem;
}

.container nav label {
    font-size: 1.3rem;
}

.container nav ul{
    margin-top: 1rem;
}

.container nav ul li {
    margin: .5rem 0;
}

.container nav ul li a {
    color: rgb(25, 212, 25);
    font-size: 1.2rem;
}

.container__history {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 50%;
    color: white;
}

.container__history table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.4);
}

.container__history table th {
    padding: 1rem;
    border: 1px solid blue;
}

.container__history table td {
    padding: .5rem;
    border: 1px solid cyan;
}

.container__history i.fa-bolt {
    color: yellow;
}

.container__history i.fa-plus {
    color: greenyellow;
}

.container__history i.fa-ban {
    color: red;
}

.index__modal {
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index__modal__content {
    position: relative;
    width: 50%;
    padding: 2rem;
    background-color: rgb(214, 214, 214);
    border-radius: .5rem;
}

.index__modal__content .paypal {
    color: #00457C;
    font-size: 3rem;
    margin-right: 1rem;
}

.index__modal__content ul {
    list-style: none;
}

.index__modal__content ul li {
    display: flex;
    align-items: center;
}

.index__modal__content .platform-data {
    text-decoration: underline;
}

.index__modal__content .modal__close {
    position:absolute;
    top: -10%;
    left: 97%;
    color: red;
    font-size: 3rem;
    cursor: pointer;
}

.modal__close i {
    pointer-events: none;
}

@media screen and (max-width: 1032px){
    :root {
        font-size: 14px;
    }

    .index__modal__content {
        width: 70%;
    }
}

@media screen and (max-width: 425px){
    :root {
        font-size: 12px;
    }   

    .container__controllers input {
        padding: 1rem 2rem;
    }

    .roundCounter__number {
        font-size: 3rem;
    }

    .container__controllers label {
        font-size: 2rem;
    }

    .container__done input {
        padding: 1rem 2rem;
    }

    .container__reset input {
        padding: 1rem 2rem;
    }

    .container nav ul li a {
        font-size: 1.5rem;
    }

    .modal__content {
        width: 26rem;
    }

    .buttons .label__button {
        font-size: 1.6rem;
    }

    .activate-sumAndrest input {
        width: 2rem;
        height: 2rem;
    }

    .container__history {
        width: 70%;
    }

    .index__modal__content .modal__close {
        font-size: 2rem;
    }
}